
<div class="container favorite-bg">
  <div class="row">
<ng-container *ngIf="people.length>0">
<app-card
*ngFor="let person of people;  index as idx"
  class="col-lg-3 col-md-4 col-sm-12 "
  cardBtn="Delete"
  name="{{ person.name }}"
  planet="{{ person.homeworld }}"
  gender="{{ person.gender }}"
  height="{{ person.height }}"
  birth="{{ person.birth_year }}"
  hair="{{ person.hair_color }}"
  skin="{{ person.skin_color }}"
  eye="{{ person.eye_color }}"
  (buttonClicked)="deleteButton(person.name)"
  style="margin:0 auto;"
></app-card>
</ng-container>
<ng-container *ngIf="!people.length">
  <app-no-data
  issue="No Favorite Yet"
  ></app-no-data>
    </ng-container>
  </div>
  </div>
