<div>
  <div class="card-container">
    <div class="card">
      <div class="box">
        <div>
          <div class="card-details container">
            <div class="row">
              <div class="col-12" >
          <h2 >Problems:{{ issue }}</h2>
        </div>
        </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="text-center">
  <div>
    <a
      class="neon-button "
      (click)="handleButtonClick()"
      [ngClass]="[btnColor === 'add' ? 'addBtn' : 'deleteBtn']"
    >
    <span class="neon-inner"></span>
    <span class="neon-inner"></span>
    <span class="neon-inner"></span>
    <span class="neon-inner"></span>
    {{ cardBtn }}
    </a>
  </div>
</div>
</div>
